body {
    font-family: monospace;
    height: calc(100vh - 2em);
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

h1 {
    margin-block-start: 0;
}

#video-container {
    height: 100%;
    max-width: 100%;
}

video {
    max-width: 100%;
}

button {
    min-width: 4rem;
    min-height: 2rem;
    font-family: monospace;
}